<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot - ANGULARJS UPLOAD FILES Example</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>

<body class="container" ng-app="jsaUploadFileApp">

<div  ng-controller="uploadFileController">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-2" for="uploadfile">Upload File:</label>
            <div class="col-sm-5">
                <input class="form-control" type="file" file-model = "uploadedFile" placeholder="Upload File"></input>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" ng-click = "doUploadFile()">Upload</button>
            </div>
        </div>
    </form>
    <hr/>
    <div class="col-sm-offset-2">
        <p ng-bind="uploadResult"></p>
    </div>
</div>

<div ng-controller="getFilesController">
    <div class="col-sm-offset-2">
        <button type="button" class="btn btn-primary btn-block" ng-click="doGetFiles()">Get Files</button>
    </div>
    <hr/>
    <div class="col-sm-offset-2" ng-model="lstFiles">
        <ul>
            <li ng-repeat="file in lstFiles"><a href='{{file}}'>{{file}}</a></li>
        </ul>
    </div>
</div>

<script src="/js/jsaApp.js"></script>
<script src="/js/uploadFileCtrl.js"></script>
<script src="/js/getFilesCtrl.js"></script>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>